<section class="artistinfo">
  <div class="artist cf" ng-model="employees">
<!--     <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a> -->
    <div class="info">
      <button type="button" class="btn btn-primary btn-lg pull-right" >
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>  Invite
      </button>

      <img ng-src="images/{{employees[id].shortname}}_tn.jpg" alt="Photo of {{employees[id].name}}"></img>
      <h1>{{employees[id].name}}</h1>

      
      <h3>ATTID: {{employees[id].attID}}</h3>
      <h3>Department: {{employees[id].department}}</h3>

      
      <!-- <div class="bio">{{artists[whichItem].Address}}</div> -->
  
      <a ng-href="employees.html">&laquo; Back to search</a>
    </div>
</section>