<!-- Top search bar -->
		<div class="search">
			<h1>Employee Search</h1>
			<label>search: </label>
			<input ng-model="query" placeholder="Search for employees" autofocus>

			<label class="formgroup">by:
			<select ng-model="employeeOrder">
				<option value="name">Name</option>
				<option value="department">Department</option>
			</select>
			</label>

		
		</div>
		
		
<!-- List of people -->
		<div class="container">
		<ul class="list-group" ng-show="query">
		<!--Should take them to individual details page  -->
			<li class="list-group-item" ng-repeat="item in employees | filter: query | orderBy : employeeOrder:direction ">
			    <button type="button" class="btn btn-lg pull-right">
			    <!-- Keep space between word and icon -->
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>  Invite
                </button>
                <a ng-href="#/employee_details/{{employees.indexOf(item)}}">
                   <img class="pull-left" ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}">
                        <!-- The below is | is a filter and makes the data appear as a filter -->
                      <h2>{{item.name}}</h2>
                      <h3>{{item.department}}</h3>
                </a>
			</li>    
		</ul>
		</div>