<!-- Top search bar -->
		<div class="search">
			<h1>My Events</h1>
			<label>search: </label>
			<input ng-model="query" placeholder="Search my events" autofocus>

			<label class="formgroup">by:
			<!-- <select ng-model="restaurantOrder"> -->
				<option value="Restaurant">Upcoming</option>
				<!-- Come back to this one, change reknown to department -->
				<option value="Distance">Created By</option>
			<!-- </select> -->
			</label>
<!-- 
			<label class="formgroup">
				<input type="radio" ng-model="direction" name="direction" checked> 
				ascending
			</label>
			<label class="formgroup">
				<input type="radio" ng-model="direction" name="direction" value="reverse">
				descending
			</label> -->
		
		</div>
		
		
<!-- List of restaurants -->
<!-- 			<ul class="artistlist">

				<li class="artist cf" ng-repeat="(key,value) in restaurants | filter: query | orderBy : value.Distance ">
				    <a ng-href="#/rest_details/{{key}}">
					   <img ng-src="images/Restaurant Logos/{{value.Restaurant}}.jpg" alt="Photo of {{value.Restaurant}}">
					   <div class="info"> -->
							<!-- The below is | is a filter and makes the data appear as a filter -->
		<!-- 				  <h2>{{value.Restaurant}}</h2>
						  <h3>{{value.Distance + " mi"}}{{value.Price}}</h3>
						  <h4>{{value.Address}}</h4>
						  <h4></h4>
					   </div>
                    </a>
				</li>
                

		</ul> -->