<!-- Top search bar -->
<div class="search">
	<h1>My Events</h1>
	<label>search: </label>
	<input ng-model="query" placeholder="Search my events" autofocus>
</div>


<!-- List of restaurants -->
<div class="container">
	<ul class="list-group">

		<li class="list-group-item" ng-repeat="item in events | filter: query | orderBy : eventOrder ">
		    <a ng-href="#/myEvents/{{events.indexOf(item)}}">
			   <!-- <img ng-src="images/Restaurant Logos/{{value.Restaurant}}.jpg" alt="Photo of {{value.Restaurant}}"> -->
			   <a ng-href="{{item.Website}}">
				  <h2>{{item.Restaurant}}</h2>
				</a>
				<h3>{{item.Date}}{{item.Day}}</h3>
				<h3>{{item.Time}}</h3>
				  <!-- Add popover to show names of people going -->
				<h3>Attending: {{item.Going}}</h3>
				</a>
				 	<!-- Supposed to be popover for people who are invited -->
				<a class="a-right tooltipped" data-toggle="tooltip" data-tooltip="{{item.People}}" title="{{item.People}}" data-position="right" ng-click="onMyClick()">
  					<h3 style="max-width=auto">Invited: {{item.Invited}}</h3>
				</a>
				  
				<h3>Status: {{item.Status}}</h3>
            
		</li>

	</ul>

</div>

	<script> 

	        $(document).ready(function(){
	        	$(".tooltipped").tooltip({delay:50});
	        });

	      

    </script>

