<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo" style="color: #81017e"><img src="images/logoFinal.png" style="margin-top: 5px; margin-bottom: 0px" /></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><img src="images/tinypurple.png" style="margin-top: 11px; margin-bottom: 0px; margin"/></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html#/myEvents" style="color: #81017e">My Events</a></li>
        <li><a href="index.html#/browseEvents" style="color: #81017e">Browse Events</a></li>
        <li><a href="index.html#/restaurant" style="color: #81017e">Browse Restaurants</a></li>
        <li><a href="index.html#/create_event/!" style="color: #81017e">Create Event</a></li>
        <li><a href="index.html#/login" ng-click="logout()" style="color: #81017e">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="index.html#/myEvents" style="color: #81017e">My Events</a></li>
        <li><a href="index.html#/browseEvents" style="color: #81017e">Browse Events</a></li>
        <li><a href="index.html#/restaurant" style="color: #81017e">Browse Restaurants</a></li>
        <li><a href="index.html#/create_event/!" style="color: #81017e">Create Event</a></li>
        <li><a href="index.html#/login" ng-click="logout()" style="color: #81017e">Logout</a></li>
      </ul>
    </div>
  </nav>