<ng-include src="'partial/navbar.html'"></ng-include>
<section class="artistinfo">
  <div class="artist cf" ng-model="artists">
<!--     <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
    <a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a> -->
    <div class="info">
      <div class="col-md-9">

        <h1>{{restaurants[id].Restaurant}}</h1>
        <div class="spacingSmall" style="height: 15px"/>
      
        <h3>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{restaurants[id].Address}}</h3>
          <div class="spacingSmall"/>


        <h3>Price: {{restaurants[id].Price}}</h3>
         <div class="spacingSmall"/>
        <h3>Rating: {{restaurants[id].Rating}}</h3>
         <div class="spacingSmall"/>
        <h3>
          <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{restaurants[id].Tags}}
        </h3>
         <div class="spacingSmall"/>
        <h3>
          <span class="glyphicon glyphicon-road" aria-hidden="true"></span> {{restaurants[id].Distance}}
        </h3>
         <div class="spacingSmall"/>
        <h3>
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span>  {{restaurants[id].Hours}}
        </h3>
         <div class="spacingSmall"/>
        <h3>
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{restaurants[id].Phone}}
        </h3>
         <div class="spacingSmall"/>

        <h3>
        <!-- <a ng-href="{{restaurants[id].Website}}">-->
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a class="websiteFormatting" href={{restaurants[id].Website}}>Business Website </a></h3>
      
      <!-- <div class="bio">{{artists[whichItem].Address}}</div> -->
        <div class="spacingSmall"/>
      
        <a ng-href="#/create_event/{{id}}" class="button3 btn-primary btn-lg pull-right">
            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>  Create Event</a>
    
      <div class="smallSpace"/>

      
      <a class="backSearchSize" ng-href="index.html#/restaurant">  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to search</a>
      

    </div>
</section>